<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.app.admin.mapper.SysCodingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lemon.app.admin.entity.SysCoding">
        <id column="id_" property="id" />
        <result column="display_" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        id_,
        display_
    </sql>

</mapper>
